In [2]:
import pandas as pd

In [15]:
df = pd.read_csv('data/new1dictionary.csv')

In [11]:
df

,Character,Definition,pinyin,decomposition,radical,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,⺀,ice,NaN,？,⺀,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,⺈,NaN,NaN,？,⺈,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,⺊,NaN,NaN,⿰丨？,⺊,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,⺌,NaN,NaN,？,⺌,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,⺍,NaN,NaN,？,⺍,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9569,龠,flute; pipe;ancient measure,"""yuè""",⿱亼？,龠,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9570,龥,to beg;to implore,"""yù""",⿰龠頁,龠,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9571,龶,NaN,NaN,？,龶,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9572,龹,Form of 卷 used as a phonetic component,"""quǎn""",⿻？丿,丿,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9573,龺,sunlight; the rays of the sun,"""gān""",⿳十日十,日,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
pd.set_option('display.max_columns', 5)

In [14]:
df

,Character,Definition,...,Unnamed: 30,Unnamed: 31
0,⺀,ice,...,NaN,NaN
1,⺈,NaN,...,NaN,NaN
2,⺊,NaN,...,NaN,NaN
3,⺌,NaN,...,NaN,NaN
4,⺍,NaN,...,NaN,NaN
...,...,...,...,...,...
9569,龠,flute; pipe;ancient measure,...,NaN,NaN
9570,龥,to beg;to implore,...,NaN,NaN
9571,龶,NaN,...,NaN,NaN
9572,龹,Form of 卷 used as a phonetic component,...,NaN,NaN
9573,龺,sunlight; the rays of the sun,...,NaN,NaN

In [4]:
pd.options.display.max_columns = 5

In [5]:
df

,Character,Definition,...,Unnamed: 30,Unnamed: 31
0,⺀,ice,...,NaN,NaN
1,⺈,NaN,...,NaN,NaN
2,⺊,NaN,...,NaN,NaN
3,⺌,NaN,...,NaN,NaN
4,⺍,NaN,...,NaN,NaN
...,...,...,...,...,...
9569,龠,flute; pipe;ancient measure,...,NaN,NaN
9570,龥,to beg;to implore,...,NaN,NaN
9571,龶,NaN,...,NaN,NaN
9572,龹,Form of 卷 used as a phonetic component,...,NaN,NaN
9573,龺,sunlight; the rays of the sun,...,NaN,NaN

In [7]:
pd.options.display.max_columns = 7

In [8]:
df

,Character,Definition,pinyin,...,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,⺀,ice,NaN,...,NaN,NaN,NaN
1,⺈,NaN,NaN,...,NaN,NaN,NaN
2,⺊,NaN,NaN,...,NaN,NaN,NaN
3,⺌,NaN,NaN,...,NaN,NaN,NaN
4,⺍,NaN,NaN,...,NaN,NaN,NaN
...,...,...,...,...,...,...,...
9569,龠,flute; pipe;ancient measure,"""yuè""",...,NaN,NaN,NaN
9570,龥,to beg;to implore,"""yù""",...,NaN,NaN,NaN
9571,龶,NaN,NaN,...,NaN,NaN,NaN
9572,龹,Form of 卷 used as a phonetic component,"""quǎn""",...,NaN,NaN,NaN
9573,龺,sunlight; the rays of the sun,"""gān""",...,NaN,NaN,NaN

In [16]:
df

,Character,Definition,pinyin,decomposition,radical
0,⺀,ice,NaN,？,⺀
1,⺈,NaN,NaN,？,⺈
2,⺊,NaN,NaN,⿰丨？,⺊
3,⺌,NaN,NaN,？,⺌
4,⺍,NaN,NaN,？,⺍
...,...,...,...,...,...
9569,龠,flute; pipe;ancient measure,"""yuè""",⿱亼？,龠
9570,龥,to beg;to implore,"""yù""",⿰龠頁,龠
9571,龶,NaN,NaN,？,龶
9572,龹,Form of 卷 used as a phonetic component,"""quǎn""",⿻？丿,丿
9573,龺,sunlight; the rays of the sun,"""gān""",⿳十日十,日

In [18]:
df[radical].value_counts()

NameError: name 'radical' is not defined

In [19]:
df[radical].value_counts()

NameError: name 'radical' is not defined

In [20]:
df["Character"].value_counts()

Character
⺀    1
荣    1
荥    1
荦    1
荧    1
    ..
朗    1
望    1
朝    1
期    1
龺    1
Name: count, Length: 9574, dtype: int64

In [21]:
df["radical"].value_counts()

radical
氵                                           465
口                                           421
艹                                           406
木                                           382
扌                                           341
                                           ...
⺈                                             1
歺                                             1
matches:[[1]                                  1
 building up steam 丷 and letting it off}      1
龶                                             1
Name: count, Length: 312, dtype: int64

In [23]:
df["Pinyin"].value_counts()

KeyError: 'Pinyin'

In [24]:
df["pinyin"].value_counts()

pinyin
"yì"      79
"lì"      65
"xī"      57
"yù"      56
"jī"      56
          ..
"liāo"     1
"zuàn"     1
"shōu"     1
"gǎi"      1
"óu"       1
Name: count, Length: 1240, dtype: int64